/* @import url('style.css'); */
@media all and (min-width: 320px) and (max-width: 768px){

    /* start navbar */

    .nav-link {
        display: block;
        position: static;
        font-size: 18px;
        padding: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        justify-content: center;
        text-align: center;

    }
    .nav-link:hover {
        transition: all .3s ease-in-out;
        color: #eece1a;
        font-size: 25px;
    }
    li {
        display: block;
        text-align: -webkit-match-parent;
    }

    .menu-nav,
    .menu-branding {float: none;width: 100%;display: block;}
    .menu-branding {height: 35vh;}
    .menu-nav {height: 75vh;}

    /* start about page */
    main {
        align-items: center;
        text-align: center;
        padding: 4rem;
        height: 100%;
    }
    .about-info {
        grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
        grid-template-columns: 1fr;
    }
     .portrait {
        margin-top: 5px;
        width: 165px;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 4px solid #f5f4ec;
        box-shadow: 0px 10px 30px 15px rgba(0, 0, 0, .5);
        margin-left: 35%;  
    }
    .center{
        padding: 20px;
        width: 70%;
    }
    .center h1{font-size: 20px;}
    .skillbox p{font-size: 14px;}
    .h-service-box{font-size: 24px;}
    .services h1{
        height: 70px;
        width: 280px;
        margin: auto;
    }

    .service-box {
        transform-style: preserve-3d;
        display: inline-flex;
        justify-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 334px;
        height: 360px;
        background: #333;
        box-sizing: border-box;
        box-shadow: 10px 20px 50px rgba(0, 0, 0, .5);
        border-radius: 4px;
        margin-bottom: 100px;
        margin-top: 40px;
        padding: 10px;
        transition: all 1s ease-in-out;
        animation: bounceInUp 4s 13s 1 both;
    }
    .service-box p {
        width: 330px;
        text-align: center;
        font-size: 15px;
    }

    /* End about page */

    .projects {grid-template-columns: 1fr;}
    .project-title {font-size: 1rem;}

    .main-lg-heading {
        width: 100%;
        display: inline-block;
        text-transform: capitalize;
        font-size: 2.1rem;
        font-weight: bolder;
        margin-bottom: 60px;
        animation: bounceInRight 3s 2s 1 both;
    }
    .container {
        width: auto;
        text-align: center;
    }

    .my-skills .skills p:last-of-type{
    line-height: 1.5;
    color: white;
    width:auto;
    text-align: center;
}
.bio-img {
    width: 280px;
    height: 280px;
    grid-area: bioimage;
    margin-top: 80px;
    margin: 20px auto;
    border-radius: 50%;
    border: 4px solid #f5f4ec;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, .5);
}
.bio-title {
    padding-top: 80px;
    font-size: 32px;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    animation: fadeInLeft 3s 4s 1 both;
}
.about-info p {
    animation: fadeInLeft 3s 6s 1 both;
}
.lg-heading {
    font-size: 3.5rem;    
}
.sm-heading{font-size: 18px;}
.small-heading {
    
    margin: 50px auto;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
    display: inline-flex;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #EECE1A;
    box-shadow: 2px 16px 11px #262626;
    animation: fadeInLeft 3s 3s 1 both;
}
/* contact page */

.boxes {
    display: inline-table;
    margin: auto;
    width: 90%;
    left:50%;
    /* justify-items: center;
    justify-content: center; */
}
.boxes div {
    font-size: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}
.wrapper{left: 50%;width: 80%;}
.wrapper h2{font-size: 26px;}
.fa-2x {
    font-size: 1.8em;
}
.input-field input{font-size: 14px;} 
.input-field label{font-size: 16px;}
.contact-btn{
    padding: 20px 30px;
     font-size: 14px;
}
}