           /* Start Main Rules */
           @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
           @import url('animation.css');
           @import url('media.css');           
           * {box-sizing: border-box;}

           body {   
            background: #424242;
            color: #fff;
            height: 100%;
            margin: 0;
            font-family: "Source Sans Pro",sans-serif,"Segoe UI", Tahoma, Geneva, Verdana;
            line-height: 1.5;
            cursor: default;
            }

            div{
                perspective: 600px;
                
            }   

        .container{width: 1170px;margin: auto;position: relative;}

        h1,
        h2,
        h3 {margin: 0;font-weight: 400;}
        hr{background-color: rgba(241, 215, 65, 0.794);height: 1px;border: 0;}
        a {color: #fff;text-decoration: none;}

        .fix-clr{clear: both;}

        /* End Main Rules */
        
        .lg-heading {
            text-transform: capitalize;
            font-size: 4.5rem;
            font-weight: bolder;
            text-align: center;
            margin-bottom: 10px;
            animation: bounceInLeft 2s 2s 1 both;
        }
        .main-lg-heading {
            text-transform: capitalize;
            font-size: 5rem;
            font-weight: bolder;
            margin-bottom: 10px;
            animation: bounceInRight 3s 2s 1 both;
        }
        .sm-heading {
            font-size: 28px;
            font-weight: bold;
            color: #EECE1A;
            text-align: center;
            margin-bottom: 4em;
            text-transform: capitalize;
            animation: fadeInLeft 3s 3s 1 both;
        }
        .main-sm-heading {
            font-size: 28px;
            font-weight: bold;
            color: #EECE1A;
            margin-bottom: 1.5em;
            text-transform: capitalize;
            animation: bounceInRight 4s 3s 1 both;
        }
        
        header {width: 100%;z-index: 2;position: fixed;}
        
        .text-secondary {color: #eece1a;font-weight: bold;}
        
        main {padding: 6rem;height: 100%;}
        main h1{
            text-shadow:5px 12px 10px #403F40,
                        8px 12px 12px #4138059b
        }
        
        .icons {margin-top: 10px; animation: bounceInUp 5s 7s 1 both;}
        .icons a {padding: 0.4rem;transition: all 1s ease-out;}
        .icons a:hover {color: #eece1a;font-size: 45px;}
        
        #home {overflow: hidden;}
        #home h1 {margin-top: 10vh;}
        
        #bg-img {
            background-image: url(../images/background.jpg);
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .overlay {
            position: absolute;
            background: rgba(68, 68, 68, 0.7);
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            z-index: -1;
        }

        .skills i{color: #EECE1A;padding-right: 10px;
            transition: all 0.5s ease-out;
            animation: bounceInLeft 4s 6s 1 both ;
        }
        .skills i:hover{color:white;font-size: 40px;}
        

        /* HAMBURGER */
        
        .hamburger {
            position: absolute;
            top: 35px;
            right: 35px;
            cursor: pointer;
            transition: all 0.6s ease-out;
            z-index: 3;
        }
        
        .hamburger-line {
            width: 28px;
            height: 3px;
            margin-bottom: 5px;
            background: #fff;
            transition: all 0.6s ease-out;
        }
        
        .close {transform: rotate(180deg);}
        
        .menu {
            position: fixed;
            top: 0;
            width: 100%;
            visibility: hidden;
        }
        
        .show {visibility: visible;width: 100%;}
        
        .menu-nav,
        .menu-branding {
            width: 50%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            float: left;
            height: 100vh;
            overflow: hidden;
        }
        
        .menu-nav {
            background: #262626;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: right;
        }
        
        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 28px;
            padding: 1rem;
            font-weight: 300;
            text-transform: uppercase;
        }
        
        .nav-link:hover {
            transition: all .3s ease-in-out;
            color: #eece1a;
            font-size: 35px;
        }
        
        .menu-branding {
            background: #777;
        }

        nav ul li a span{display: block;text-align: center;padding-bottom: 10px;}
        
        
        /* ABOUT PAGE */

        .portrait {
            width: 300px;
            height: 400px;
            background: url("../images/pro.jpg");
            border-radius: 50%;
            border: 4px solid  #f5f4ec;
            box-shadow: 0px 10px 30px 15px rgba(0, 0, 0, .5);
            
        }

        .about-info {
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "bioimage bio bio" "job1 job2 job3";
            grid-gap: 30px;
            
        }
        
        .about-info p { animation: fadeInDown 3s 5s 1 both;}
        
        .icon1 {
            display: block;
            background-image: url("icons/home.png");
            float: left;
            width: 80px;
            height: 80px;
        }
        
        #main {max-width: 1440px;min-width: 480px;margin: auto;}
        
        .bio-title {
            padding-top: 80px;
            font-size: 38px;
            letter-spacing: 0.5rem;
            font-weight: bolder;
            animation: fadeInDown 3s 6s 1 both;
        }
        
        .bio-img {
            width: 300px;
            height: 280px;
            grid-area: bioimage;
            margin-top: 80px;
            margin: 20px auto;
            border-radius: 50%;
            border: 4px solid  #f5f4ec;
            box-shadow: 0px 10px 30px 15px rgba(0, 0, 0, .5);
            
        }
        
        .bio {grid-area: bio;font-size: 18px;line-height: 35px}
        
/* Start my skills */

.my-skills{overflow: hidden;padding: 30px 0;}
.my-skills .skills,
.my-skills .progress{float: left;width:80%;perspective: 400px;}
.my-skills .skills{margin-bottom: 40px}
.my-skills .skills h2,
.my-skills .skills h3{margin: 15px 0 20px 30px; color: #EECE1A;font-weight: bold;}
.my-skills .skills button{margin: 30px 0 0 30px;}
.my-skills .skills .yellow-button
{
    background: #a58b21;
    color: #fff;
    font-weight: bold;
    border: 1px solid #EECE1A;
    border-radius: 10px;
    width:250px;
    height: 80px;
    font-size: 25px;
    transform: scale3d(0.76, 0.76, 0.76);
    cursor:  pointer;
    transition: all .5s;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px; 
}
.my-skills .skills .yellow-button:hover
{
    cursor: pointer;
    background: none;
    color: black;
    font-weight: bold;
    border: 1.5px solid #EECE1A;
    border-radius: 8px;
    font-size: 24px;
    transform: translateZ(2px);
    transition: all 1s ease-in-out; 
}
.my-skills .skills p:last-of-type
{
    height: auto;
    margin: 30px 0 0 30px;
    line-height: 1.6;
    color: white;
    text-align: left;
    
}

.my-skills .skills h4
{
    margin: 30px 0 0 30px;
    line-height: 1.6;
    color: white;
    word-spacing: 1px; 
}
.center
{
    position: inherit;
    float:left;
    width: 60%;
    margin-bottom: 200px;
    top: 50%;
    left: 40%;
    transform: translate(15%,15%);
    padding: 30px;
    background: #333;
    box-sizing: border-box;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 4px; 
}

.center h1
{
    margin: 0;padding: 0;
    color: #EECE1A;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.skillbox{box-sizing: border-box;width: 100%;margin: 20px 0;}
.skillbox p
{
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}
.skillbox p:nth-child(2){float: right;position: relative;top: -25px;}
.skill{background: #262626;padding: 6px;box-sizing: border-box;border: 1px solid #0fffb7;border-radius: 2px}
.skill-level{background: #EECE1A;width: 100%;height: 10px;}

.services{
    display: flex;
    position: inherit;
    justify-content: center;
    height: 200px;
    width: 100%;
    padding: 10px 5px 10px 5px;
} 
.services h1
{
    display: flex;
    height: 85px;
    width: 310px;
    justify-content: center;
    background: #333;
    box-sizing: border-box;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, .5);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #EECE1A; 
    margin-top: 10px;
    padding: 15px;
    animation: rotateInUpRight 3s 10s 1 both;                
    }
.services h1 span{padding-left: 10px;}
.services h1 i{padding-right: 10px;margin-top: 10px; }
.service-box{
    transform-style: preserve-3d;
    display: inline-flex;
    justify-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 360px;
    background: #333;
    box-sizing: border-box;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 4px;
    margin-bottom: 100px;
    margin-top: 40px; 
    margin-left: 35px;
    padding: 10px;
    transition: all 1s ease-in-out;
    animation: bounceInUp 4s 13s 1 both;
    opacity: 0.9; 
}
.service-box .info{transition: all .5s ease-in-out;}
.service-box .price{transition: all .5s ease-in-out;padding: 10px;}
.h-service-box
{
    font-weight: bold;
    font-size: 36px;
    color: #EECE1A;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}    
.header-box
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color:white;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
}
.service-box p{
    width: 350px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
}

.rotate-service-box{animation: rotateInDownLeft 10s 10s infinite both;}

.y-color{color: #EECE1A;font-weight: bold;font-size: 20px; margin-top: 10px;}
 footer {
    margin-top: 20px; 
    box-sizing:border-box;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    width: 100%;
    height: 100px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

/* End skills */

/* End ABOUT PAGE */

        /* contact me */

        .small-heading {
            /* margin-bottom: 20px; */
            margin-top: 60px;
            margin-left: 60px;
            padding: 15px;
            font-weight: bold;
            font-size: 28px;
            display: inline-flex;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;
            border: 1px solid #EECE1A ;
            box-shadow: 2px 16px 11px #262626;
            animation: fadeInLeft 3s 3s 1 both;
        }
        .boxes {
            background-color:#F4F4F4;
            overflow: hidden;
            display: block;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top: .7rem;
            margin-left: 50px;
            width: 65%;
            padding: 28px;
            box-shadow: 10px 20px 50px rgba(0, 0, 0, .5);
            border-radius: 4px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            animation: fadeInLeft 4s 4s 1 both;
        }

        .boxes div {
            color: #000;
            display: left;
            font-size: 1.5rem;
            border: .5px solid #eece1a;
            padding: 1rem 2rem;
            margin-bottom: 3rem;
            font-weight: bold;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            transition: all .5s ease-in-out;
        }
        
        
        .boxes div span {color: #000;display: inherit;}
        .contact-parent
        {
            margin-top:200px;
            max-height: 800px;            
        }
        .wrapper
        {
            perspective: 600px;
            -webkit-perspective: 500px;
            margin:50px auto;
            top: 50%;
            left: 38%;
            width: 70%;
            height: 700px;
            padding: 40px;
            box-sizing: border-box;
            background: #F4F4F4;
            color: #000;
            box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
            border: .5px solid #EECE1A;
            border-radius: 3px;
        }
        .wrapper h2
        {
            padding-left: 10px;
            display: inline;
            padding: auto;
            margin:auto; 
            text-align: left;color: #EECE1A;
            font-size: 30px;text-transform: uppercase;
            font-weight: bolder;
        }
        .input-field{position: relative;margin-top: 50px;width: 100%;}
        .input-field input,
        .input-field textarea
        {
            width: 100%;padding: 10px 0;
            box-sizing: border-box;
            background: transparent;
            outline: none;border: none;
            border-bottom: 2px solid #666;
            font-size: 18px;color: #666;
            font-weight: 700;
        }
        

        .input-field label{
            position: absolute;top: 0;
            left: 0;padding: 6px 0;
            margin-top: 40px;
            pointer-events: none;
            font-size: 18px;color: #000;
            font-weight: 800;text-transform: uppercase;
            transition: 0.5s;
        }

        .input-field input:focus + label,
        .input-field textarea:focus + label,
        .input-field input:valid + label,
        .input-field textarea:valid + label
        {
            top: -80px;font-size: 16px;
            padding: 3px 6px;background-color: #EECE1A;
            color: #fff;
            border-radius: 4px; 
        }
        .contact-btn{
            perspective: 600px;
            transform-style: preserve-3d;
            margin-top: 30px;background: #EECE1A;
            padding: 25px 35px;
            border: none;outline: none;
            color: #000;border-radius: 30px;
            font-weight: bolder;text-transform: uppercase;
            font-size: 16px;
            cursor: pointer;
            float: right;
            transition:all .5s ease-in-out;
        }
        .contact-btn:hover{
            transform: translate3d(100px);
            cursor: pointer;
            background-color:#333;
            color:rgba(255, 255, 255, 1);
            font-size: 18px;
            transition:all .2s ease-in-out;
        }
        /* End Contact Me */
        
        .projects {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            margin-top: 3rem;
        }
        
        .projects img {width: 100%;border: 3px solid #aaa;margin-bottom: 30px;}
        .project-title {
            font-size: 20px;
            text-align: center;
            margin-bottom: 8px;
        }
        .item{perspective: 1000px;}
        .item a {margin-left: 10px;display: block;}
        .item a img {
            max-width: 400px;
            max-height: 500px;
            transition: all 1s ease-out;
            box-shadow: 20px 30px 17px rgba(0, 0, 0, .5);
            border-radius: 4px;
        }
        .item a img:hover
        {
            transform: translate3d(100px);
            transform: rotatey(360deg);
            height:270px;
        }
        .item i {margin: 0 10px;}
        
        .work-btn {padding: 6px 8px;margin-bottom: 6px;transition: all 1s ease-out;}
        .work-btn:hover {background: #eece1a;font-size: 30px;}
        .btn-dark {background: #000;}
        .btn-light {background: #ccc;color: #333;}
        
        #main-footer {
            text-align: center;
            padding: 1rem;
            background: #2b2b2b;
            color: #444;
            height: 60px;
        }
.lg-heading {font-size: 4rem;}
.boxes div {font-size: 1.2rem;}