<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- change -->
    <title>My work</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/media.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="overlay"></div>
    <header>
      <div class="hamburger">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>

      <nav class="menu">
          <div class="menu-branding"><div class="portrait"></div></div>
          <ul class="menu-nav">
            <li class="nav-item">
              <!-- <div><span class="icon1"></span></div> -->
              <a href="../index.html" class="nav-link">
                <span><i class="fa fa-home fa-lg"></i></span>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a href="../views/about.html" class="nav-link">
                <span><i class="fa fa-address-card fa-lg"></i></span>
                About Me
              </a>
            </li>
            <li class="nav-item">
                <a href="../views/work.html" class="nav-link">
                <span><i class="fa fa-briefcase fa-lg"></i></span>
                Work
                </a>
              </li>
              <li class="nav-item">
                  <a href="../views/contact.html" class="nav-link">
                    <span><i class="fa fa-phone-square fa-lg"></i></span>
                    Contact
                  </a>
                </li>
          </ul>
        </nav>
    </header>

    <main id="about">
      <h1 class="lg-heading">My <span class="text-secondary">Works</span></h1>
      <h2 class="sm-heading">Check out some of my projects...</h2>
      <hr>
      <div class="projects">
        <div class="item">
          <div class="project-title">Template1</div>
          <a href="#"><img src="../images/protoflio1.PNG" alt=""/></a>
          <a href="#" class="work-btn btn-light"
            ><i class="fas fa-eye"></i>  Project </a
          >
          <a href="https://github.com/WdFathiDeveloper/Template1" target="_blank" class="work-btn btn-dark"
            ><i class="fab fa-github"></i>  Github </a
          >
        </div>

        <div class="item">
          <div class="project-title"> My Portfolio </div>
          <a href=""><img src="../images/protoflio2.PNG" alt=""/></a>
          <a href="https://github.com/WdFathiDeveloper/Myprotofolio" target="_blank" class="work-btn btn-light"
            ><i class="fas fa-eye"></i>  Project </a
          >
          <a href="#" class="work-btn btn-dark"
            ><i class="fab fa-github"></i>  Github </a
          >
        </div>

        <div class="item">
            <div class="project-title"> Link  </div>
            <a href=""><img src="../images/un-project.PNG" alt=""/></a>
            <a href="#" target="_blank"  class="work-btn btn-light"
              ><i class="fas fa-eye"></i>  Project </a
            >
            <a href="#" class="work-btn btn-dark"
              ><i class="fab fa-github"></i>  Github </a
            >
          </div>
      </div>
    </main>
    <script src="../js/app.js"></script>
  </body>
</html>
